{
  "parser": "babel-eslint",
  "rules": {
    "no-undef": 2,
    "no-unused-vars": 2,
    "react/jsx-uses-vars": 2
  },
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": { 
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "forOf": true
    }
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "React": true
  }
}